extends ../layout

block body
	if imageposts
		div(class="row")
			div(class="col-lg-12 col-md-10 col-sm-12 col-xs-12")
				.list-group
					each imagepost in imageposts
						.imagepost2
							.imagepost4
								h= imagepost.title
								h5= imagepost.userId
								if imagepost.imageFilename
									p: img(src=imagepost.imageThumbnailUrl)
								p= imagepost.body
								p= imagepost.id
									.imagepost3
										a.btn-default.fa.fa-heart-o(href='/')
								form(action='/imagepost/comments',method='post')
									.form-group
										label(for='body')
										textarea.form-control.col-md-12.commenttextarea.textarea(name='body', placeholder='Add Comment...')
									.form-group
										input.btn.btn-primary.btn-md(type='submit',value='Comment')
	else
		h2 No Pic Posts For You
		p Sorry,No Posts could be found