extends ../layout

block body

	h1 Search for #[em= query]
	p #{count} picstories found
	if imageposts
		div.center(class="row")
			div(class="col-lg-12 col-md-10 col-sm-12 col-xs-12")
				.list-group
					each imagepost in imageposts
						.imagepost2
							.imagepost4
								h5= imagepost.imagepost.title
								p= imagepost.imagepost.author 
								p= imagepost.imagepost.body
								h5= imagepost.user.firstname + ' '+imagepost.user.lastname
								
								p: img(style ="width:490px;height:490px" src=`https://s3.us-east-2.amazonaws.com/pictori/imageposts/${imagepost.imagepost.id}`)
								.imagepost3
									a.btn-default.fa.fa-heart-o(href='/')
								.tagtext
									a.btn.tagtext1.fa.fa-tag(href=`/imagepost/search/?tag=${imagepost.tag}`)= imagepost.tag
								
								
	else
		h2 Sorry, No Story Found