extends ../layout

block body
	div.center
		h1 My Stories
		if imageposts
			div.center(class="row")
				div(class="col-lg-12 col-md-10 col-sm-12 col-xs-12")
					.list-group
						each imagepost in imageposts
							.imagepost2
								.imagepost4
									h5= imagepost.title
									if imagepost.imageFilename
										p: img(src=imagepost.imageThumbnailUrl)
									p= imagepost.body
									p= imagepost.id
										.imagepost3
											a.btn-default.fa.fa-heart-o(href='/')
							div.center
								form(action=`/myimagepost/${imagepost.id}/delete`, method='post')
									input.a.btn.btn-default.padding(type='submit', value = 'Delete')
								
									a.btn.btn-default.padding(href=`/myimagepost/${imagepost.id}/edit`) Edit
									n-md(type='submit',value='Comment')
		else
			h2 Please log in
